.SectionTitle {
	text-align: center;
	color: white;
}

.rect: hover {
	fill: brown;
}

#intro p {
	color: black;
	text-align: left;
}

#intro h1 {
	text-align: center;
}

#Google {
	background-color: #4D90FE;
	padding: 100px;
}

#Facebook {
	background-color: #3b5998;
	padding: 100px;
}

#Twitter {
	background-color: #4099FF;
	padding: 100px;
}

#Instagram {
	background-color: #3F729B;
	padding: 100px;
}

.Centered {
	display: table;
	margin: 0 auto;
}

h2 {
	color: white;
	text-align: center;
}

p {
	color: white;
	text-align: center;
}